{% extends "base.html" %}
{% block content %}


<h3 class = 'display-4 my-3'>Articulos</h3>
<form method="post">
    {% csrf_token %}

    <label for= 'descripcion'>Descripción de Articulo</label>
    <input type= 'text' id="descripcion" name="descripcion" value="{{ articulos.descripcion }}" required><br>
    <label for= 'costo'>Precio de costo: </label>
    <input type= 'number' id="costo" name="costo" value="{{ articulos.costo }}" required><br>
    <label for= 'venta'>Precio de venta</label>
    <input type="number" id="venta" name="venta" value="{{ articulos.venta }}" required><br>
    <label for="cantidad">Cantidad</label>
    <input type="number" id="cantidad" name="cantidad" value="{{ articulos.cantidad}}" required><br>
    <label for='talle'>Talle</label>
    <input type="number" id="talle" name="talle" value="{{ articulos.talle}}" required><br>
    <label for="tipoPrenda">Tipo de prenda</label>
    <input type="tipoPrenda" id="tipoPrenda" name="tipoPrenda" value="{{ articulos.tipoPrenda}}" required><br>
    <button type="submit">Guardar</button>


<!--
<div class="subtituloInicio">
    <p>Descripción de Articulos</p>
</div>
<div class="contenedorTabla">
    <div class="col-6">
<div>
    <div class="descripcionArt">
        <h4>{{ art.descripcion }}</h4>
    </div>

    <table class="table tablaBorde table-condensed table-striped">
         fila de una tabla 
        <tr>
            <td>Descripción: </td>
            <td>{{art.descripcion}}</td>
        </tr>
        <tr>
            <td>Precio de costo: </td>
            <td> ${{art.costo}}</td>
        </tr>
        <tr>
            <td>Precio de venta: </td>
            <td>${{art.venta}}</td>
        </tr>
        <tr>
            <td>Cantidad: </td>
            <td>{{art.cantidad}}</td>
        </tr>
        <tr>
            <td>Talle: </td>
            <td>{{art.talle}}</td>
        </tr>
        <tr>
            <td>Tipo de prenda: </td>
            <td>{{art.tipoPrenda}}</td>
        </tr>
    </table>
</div>
</div>
</div>
-->

{% endblock %}
