{% extends "base.html" %}
{% block content %}

<div class="subtituloInicio">
    <p>Descripción de Articulos</p>
</div>
<div class="contenedorTabla">
    <div class="col-6">
<div>
    <div class="descripcionArt">
        <h4>{{ art.descripcion }}</h4>
    </div>

    <table class="table tablaBorde table-condensed table-striped">
         
        <tr>
            <td>Descripción: </td>
            <td>{{art.descripcion}}</td>
        </tr>
        <tr>
            <td>Precio de costo: </td>
            <td> ${{art.costo}}</td>
        </tr>
        <tr>
            <td>Precio de venta: </td>
            <td>${{art.venta}}</td>
        </tr>
        <tr>
            <td>Cantidad: </td>
            <td>{{art.cantidad}}</td>
        </tr>
        <tr>
            <td>Talle: </td>
            <td>{{art.talle}}</td>
        </tr>
        <tr>
            <td>Tipo de prenda: </td>
            <td>{{art.tipoPrenda}}</td>
        </tr>
    </table>
</div>
</div>
</div>

{% endblock %}


