<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenida</title>
</head>
<body>
    <h2>Bienvenidos al sistema Rie Victoria</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur </p>
                              <!-- longitud de la tabla, el lenth -->
    <p>Articulos: {{Articulos|length}}</p>

    <!-- <ul>porque lo va a poner en una lista -->
    <ul>
        {% for p in Articulos %}
            <li> {{p.descripcion}}</li>
        {% endfor %}
    </ul>
    
</body>
</html>