{% extends "base.html" %}
{% block content %}

<div class="subtituloInicio">
    <p >Compras</p>
</div>
<div class="contenedorTabla">
    <div class="col-5">
<div>
    <div class="descripcionClie">
        <h4>{{ com.idProveedor }}</h4>
    </div>
    <table class="table tablaBorde table-condensed table-striped">
        <!-- fila de una tabla -->
        <tr>
            <td>Proveedor: </td>
            <td>{{com.idProveedor}}</td>
        </tr>
        <tr>
            <td>Empleada: </td>
            <td> {{com.idEmpleado}}</td>
        </tr>
        <tr>
            <td>Fecha: </td>
            <td>{{com.fecha}}</td>
        </tr>
        
    </table>
    <table class="table tablaBorde table-condensed table-striped">
        <tr>
            <td>Articulos Comprados: </td>
            <td><ul>
                {% for art in arts %}
                <li>{{ art.idArticulos }} </li>
                 Cantidad: {{art.cantidad}} </br>
                 Costo por unidad: ${{art.precio}}
                {% endfor %}
            </ul></td>
        </tr>
    </table>
</div>
</div>
</div>



{% endblock %}

