{% extends "base.html" %}
{% block content %}

<div class="subtituloInicio">
    <p >Clientes</p>
</div>


    <!-- longitud de la tabla, el lenth -->
    <div class="descripcionClie">
        <h4>Total de clientes: {{Clientes|length}}</h4>
    </div>

    <div class="contenedorTabla">
        <div class="col-5">
    <div>

        <table class="table tablaBorde1 table-condensed table-striped">
            <!-- fila de una tabla -->
            <tr>
                <!-- columna dentro de la fila -->

                <th class="centrado">Código</th>
                <th >Descripción</th>

            </tr>
            {% for p in Clientes %}

                <tr>
                    <!-- columna dentro de la fila -->
                    <td class="centrado" >{{p.id}}</td>
                    <!-- a href para hacerlo link -->
                    <td><a href="/clientes/{{ p.id }}/">{{p.nombre}}</a></td>

                </tr>
                {% endfor %}
        </table>

    </div>
    </div>
    </div>

{% endblock %}