
{% extends "base.html" %}
{% block content %}

<div class="nombreTablas">
    <p >Articulos</p>
</div>
<div class="row">
    <div class="col d-flex justify-content-end mb-3">
        <form method="GET">
            <div class="input-group">
                <input type="text" class="form-control inputApagado " name="q" value="{{ query }}" placeholder="Buscar Articulo...">
                <button class="btn btn-outline-primary" 
                 type="submit"><img src="/static/img/search.png"  alt="Lupa de búsqueda" width="15" height="15" ></button>
            </div>
        </form>
    <a class="btn btn-outline-primary" href="/articulo/ArticulosNuevo{{ p.id}}">Nuevo Articulo</a></td>
    </div>
</div>

        <table style="border-style: solid; border-color: palevioletred;" class="table table-striped">
            <!-- fila de una tabla -->
            <tr>
                <!-- columna dentro de la fila -->

                <th>Código</th>
                <th >Descripción</th>
                <th >Precio costo</th>
                <th >Precio venta</th>
                <th >Cantidad</th>
                <th >Talle</th>
                <th></th>

            </tr>
            {% for p in Articulos %}

                <tr>
                    <!-- columna dentro de la fila -->
                    <td class="centrado"><a href="/articulos/ArticulosModif/{{ p.id }}/">{{ p.id }}</a></td>
                    <!-- a href para hacerlo link -->
                    <td>{{p.descripcion}}</td>
                    <td>{{p.costo}}</td>
                    <td>{{p.venta}}</td>
                    <td>{{p.cantidad}}</td>
                    <td>{{p.talle}}</td>
                    
                    <td>
                        <div class="d-flex justify-content-end ">
                            <a class="btn btn-outline-danger" href="/articulos/ArticulosBorrar/{{ p.id}}">Borrar</a>
                        </div>
                    </td>

                </tr>
                {% endfor %}
        </table>

    </div>
    </div>
    </div>


{% endblock %}
