{% extends "base.html" %}
{% block content %}

<div class="nombreTablas">
    <div class="imagen-centrada">
        <img src="/static/img/RV3.png" alt="Imagen">
    </div>
    <p >VENTAS</p>
</div>
<div class="row">
    <div class="col d-flex justify-content-end  mb-3">
        <form method="GET">
            <div class="input-group">

                <input type="date" class="form-control inputApagado" name="q" value="{{ query }}" placeholder="Fecha...">
                <button class="btn-customlupa" type="submit" class="btn-customlupa:hover"> <img src="/static/img/search.png" alt="Lupa de búsqueda" width="15" height="15"></button>

        </form>
        &nbsp;
    <a class="btn-customlupa " href="/ventas/VentasNuevo{{ p.id}}">Nueva venta</a></td>
</div>
</div>
</div>
<table style="border-style: solid; border-color: black;" class="table table-striped" > 
            <!-- fila de una tabla -->
            <tr>
                <!-- columna dentro de la fila -->

                <th class="centrado">CÓDIGO</th>
                <th >FECHA</th>
                <th>CLIENTE</th>
                <th></th>
                <th></th>

            </tr>
            {% for p in Ventas %}

            <tr onclick="window.location='/ventas/VentasModif/{{ p.id }}/'">
                    <!-- columna dentro de la fila -->
                    <td class="centrado"><a>{{ p.id }}</a></td>
                    <!-- a href para hacerlo link -->
                    <td>{{p.fecha}}</td>
                    <td>{{p.idClientes}}</td>

                    <td>
                        <div class="d-flex justify-content-end ">
                            <a class="btn-customlupa" class="btn-customlupa:hover" href="/ventas/VentasPDF/{{ p.id }}">Descargar PDF</a>
                        </div>
                    </td>
                    
                    <td>
                        <div class="d-flex justify-content-end ">
                            <a class="btn btn-outline-danger" href="/ventas/VentasBorrar/{{ p.id }}">Borrar</a>
                        </div>
                    </td>

                </tr>
                {% endfor %}
        </table>
        <div class="pagination justify-content-center">
    
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-primary mb-3" href="?page=1">Primera</a>
                <a class="btn btn-outline-primary mb-3" href="?page={{ page_obj.previous_page_number }}">
                    Anterior
                </a>
            {% endif %}
        
            <span class="current-page btn btn-outline-light disabled text-primary mb-3">
                {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
            </span>
        
            {% if page_obj.has_next %}
                <a class="btn btn-outline-primary mb-3" href="?page={{ page_obj.next_page_number }}">
                    Siguiente
                </a>
                <a class="btn btn-outline-primary mb-3" href="?page={{ page_obj.paginator.num_pages }}">
                    Última
                </a>
            {% endif %}
        </div>
{% endblock %}
