{% extends "base.html" %}
{% block content %}

<div class="nombreTablas">
    <p >Empleados</p>
</div>


    <!-- longitud de la tabla, el lenth -->
    <div class="descripcionEmpl">
        <h4>Total de empleados: {{Empleados|length}}</h4>
    </div>

    <div class="contenedorTabla">
        <div class="col-3">
    <div>

        <table class="table tablaBorde1 table-condensed table-striped">
            <!-- fila de una tabla -->
            <tr>
                <!-- columna dentro de la fila -->

                <th class="centrado">Código</th>
                <th >Descripción</th>

            </tr>
            {% for p in Empleados %}

                <tr>
                    <!-- columna dentro de la fila -->
                    <td class="centrado" >{{p.id}}</td>
                    <!-- a href para hacerlo link -->
                    <td><a href="/empleados/{{ p.id }}/">{{p.nombre}}</a></td>

                </tr>
                {% endfor %}
        </table>

    </div>
    </div>
    </div>

{% endblock %}