{% extends "base.html" %}
{% block content %}

<div class="nombreTablas">
    <p >Empleados</p>
</div>

<div class="row">
    <div class="col d-flex justify-content-end mb-3">
        <form method="GET">
            <div class="input-group">
                <input type="text" class="form-control inputApagado " name="q" value="{{ query }}" placeholder="Buscar Empleado...">
                <button class="btn btn-outline-primary" 
                 type="submit"><img src="/static/img/search1.png"  alt="Lupa de búsqueda" width="15" height="15" ></button>
            </div>
        </form>
    {% if perms.aplicacion.change_proveedores %}
    <a class="btn btn-outline-primary" href="/empleados/EmpleadosNuevo{{ p.id}}">Nuevo Empleado</a>
    {% else %}
    <a class="btn btn-outline-primary" >Nuevo Empleado</a>
    {% endif %}
</div>
</div>

    
<table style="border-style: solid; border-color: palevioletred;" class="table table-striped"> 
            <!-- fila de una tabla -->
            <tr>
                <!-- columna dentro de la fila -->

                <th class="centrado">Código</th>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Email</th>
                <th>Telefono</th>
                <th></th>

            </tr>
            {% for p in Empleados %}

                <tr>
                    {% if perms.aplicacion.change_empleados %}
                    <td class="centrado"><a href="/empleados/EmpleadosModif/{{ p.id }}/">{{ p.id }}</a></td>
                    {% else %}
                    <td>{{ p.id }}</td>
                    {% endif %}
                    <!-- a href para hacerlo link -->
                    <td>{{ p.nombre }}</td>
                    <td>{{ p.direccion }}</td>
                    <td>{{ p.Email }}</td>
                    <td>{{ p.telefono }}</td>
                    <td>
                        <div class="d-flex justify-content-end ">
                            {% if perms.aplicacion.change_empleados %}
                            <a class="btn btn-outline-danger" href="/empleados/EmpleadosBorrar/{{ p.id}}">Borrar</a>
                            {% else %}
                            <a class="btn btn-outline-danger">Borrar</a>
                            {% endif %}
                        </div>
                    </td>

                </tr>
                {% endfor %}
</table>

<div class="pagination justify-content-center">
    
    {% if page_obj.has_previous %}
        <a class="btn btn-outline-primary mb-3" href="?page=1">Primera</a>
        <a class="btn btn-outline-primary mb-3" href="?page={{ page_obj.previous_page_number }}">
            Anterior
        </a>
    {% endif %}

    <span class="current-page btn btn-outline-light disabled text-primary mb-3">
        {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
        <a class="btn btn-outline-primary mb-3" href="?page={{ page_obj.next_page_number }}">
            Siguiente
        </a>
        <a class="btn btn-outline-primary mb-3" href="?page={{ page_obj.paginator.num_pages }}">
            Última
        </a>
    {% endif %}
</div>


{% endblock %}