{% extends "base.html" %}
{% block content %}

<div class="nombreTablas">
    <p >Proveedores</p>
</div>

    <!-- longitud de la tabla, el lenth -->
    <div class="descripcionProv">
        <h4>Total de proveedores: {{Proveedores|length}}</h4>
    </div>

    <div class="row">
        <div class="col d-flex justify-content-end aling-items-end mb-3">
        <a class="btn btn-outline-primary" href="/proveedores/ProveedoresNuevo{{ p.id}}">Nuevo Proveedor</a></td>
        </div>
    </div>

    <div class="contenedorTabla">
        <div class="col-8">
    <div>

        <table class="table tablaBorde1 table-condensed table-striped">
            <!-- fila de una tabla -->
            <tr>
                <!-- columna dentro de la fila -->

                <th>Código</th>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Email</th>
                <th>Telefono</th>
                <th></th>

            </tr>
            {% for p in Proveedores %}

                <tr> 

                    <!-- columna dentro de la fila -->
                    <td class="centrado"><a href="/proveedores/ProveedoresModif/{{ p.id }}/">{{ p.id }}</a></td>
                    <!-- a href para hacerlo link -->
                    <td>{{ p.nombre }}</td>
                    <td>{{ p.direccion }}</td>
                    <td>{{ p.Email }}</td>
                    <td>{{ p.telefono }}</td>
                    <td>
                        <div class="d-flex justify-content-end ">
                            <a class="btn btn-outline-danger" href="/proveedores/ProveedoresBorrar/{{ p.id}}">Borrar</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
        </table>

    </div>
    </div>
    </div>

{% endblock %}