
{% extends "base.html" %}
{% block content %}

<div class="subtituloInicio">
    <p >Articulos</p>
</div>


    <!-- longitud de la tabla, el lenth -->
    <h5>Cantidad total de articulos: {{Articulos|length}}</h5>


    <!-- <ul>porque lo va a poner en una lista -->
        <table class="table table-striped">
            <!-- fila de una tabla -->
            {% for p in Articulos %}
        
                <tr>
                    <!-- columna dentro de la fila -->
                    <td>{{p.id}}</td>
                    <!-- a href para hacerlo link -->
                    <td><a href="/articulos/{{ p.id }}/">{{p.descripcion}}</a></td>
                    
                </tr>
                {% endfor %}
            </table>
            
{% endblock %}
