{% extends "base.html" %}
{% block content %}

<div class="nombreTablas">
    <p >Compras</p>
</div>


<table style="border-style: solid; border-color: palevioletred;" class="table table-striped">
            <!-- fila de una tabla -->
            <tr>
                <!-- columna dentro de la fila -->

                <th class="centrado">Código</th>
                <th >Descripción</th>

            </tr>
            {% for p in Compras %}

                <tr>
                    <!-- columna dentro de la fila -->
                    <td class="centrado"><a href="/compras/{{ p.id }}/">{{ p.id }}</a></td>
                    
                    <!-- a href para hacerlo link -->
                    <td>{{p.idProveedor}}</td>

                </tr>
                {% endfor %}
        </table>

    </div>
    </div>
    </div>
{% endblock %}
