{% extends "base.html" %}
{% block content %}

<div class="row">
    <h3 class="display-4 my-3">Venta{{ Ventas.id }}</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {{ formset.management_form }}
        <h6 class="display-6 my-3">Articulos</h6>
        
        {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% for error in field.errors %}
            {{ error }}
        {% endfor %}
        
        
        <table class="table table-striped table-hover">
            <thead class="bg-dark text-light">
                <th>Id</th><th></th>
                <th>Articulos</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Subtotal</th>
                <th>   </th>
                <th>¿Borrar?</th>
            </thead>
            <tbody>
                {% for form in formset %}
                <tr>
                    <td>{{ form.id.value }}</td>
                    {% for field in form %}
                        <td>
                            {% if field.name == 'cantidad' %}
                                {{ field }}
                                {% if form.errors.cantidad %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ form.errors}}
                                    </div>
                                {% endif %}
                            {% else %}
                                {{ field }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
            
            
             
            
            
            
            
            

        <table class="table my-3">
            <tfoot class="=bg-dark text-light">
                <th class="text-end"> Total: {{total | floatformat:2 }}</th>
                
            </tfoot>
        </table>

        <button class="btn btn-primary mb-3" type="submit">Guardar</button>
        <a class="btn btn-outline-primary mb-3" href="{% url 'Ventas' %}">Cancelar</a>
    </form>
</div>

{% endblock %}