body {
    background-color: pink;
}

.pie {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 15px;
    font-family: 'Ysabeau Office', sans-serif;
}

.tituloInicio{
    font-family: 'Ysabeau Office', sans-serif;
    text-align: center;
    font-size: 65px;
    line-height:70% ;
    margin-top: 50px;
    margin-block-end: 100px;

}
.subtituloInicio {
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
    font-size: 40px;
    margin-top: 40px;

}

.nombreTablas {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 40px;
    margin-top: 40px;

}

.bienvenida {
    margin-left: -110px;
    background-image: url(img/RV3.png);
    height: 100px;
    width: 100px;
    float: left;
    text-indent: 0em;
    margin-top: -33%;
}

.contenedorTabla {
    display: flex-end;
    justify-content:flex-end;
}


.descripcionArt{
    font-family: 'Red Hat Display', sans-serif;
    margin-left: 40px;
}

.descripcionClie{
    font-family: 'Red Hat Display', sans-serif;
    margin-left:  40px;
}

.descripcionProv{
    font-family: 'Red Hat Display', sans-serif;
    margin-left:  40px;
}

.descripcionEmpl{
    font-family: 'Red Hat Display', sans-serif;
    margin-left:  40px;
}
.centrado { /*para el id y articulo de la tabla*/
    text-align: center;
}

/*para la búsqueda que quede bien con el fondo */
.inputApagado {
    background-color: RGBA(255,255,255,0.7);

}
.inputApagado:focus {
    background-color: RGBA(255,255,255,0.7);
}


